<img src='/images/Capture2.PNG' alt='Savuna.jpg' width='400'>
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
       <center>
            <img src="/images/stove.png" alt="Stove" width="400">
       </center>
        </br>
            <h2 align="left"> About us: </h2>
            We hire out <i>Crockery</i>, <i>Cutlery</i>, <i>Gas stoves</i>, <i>Food Containers</i>, <i>Outdoor chairs</i> at reasonable prices.<br>
            We are based in Nyanga.
            We also offer <b>FREE</b> delivery at <b>20km</b> radius 
            <br>
            <br>
            <br>
        <h2>Please Note:</h2> The maximum number of days for hire on a weekend is 2: (Saturday till Sunday if the products are delivered on a Friday) <br>
            And (Sunday till Monday morning if the products are delivered on a Saturday). If it is weekday hire, then the maximum is 1 day (Will be delivered and collected on the same day). 
            <br>
            <br>
            <br>
        <h2>Our address:</h2> 549 Ntlakohlaza Street </br>
            Newcrossroads </br>
            Nyanga </br>
            7755 </br>

        Our contact number: 0834566791 </br>

        Or email us at: macvu1@gmail.com
                    
    </main>
<%- include('../includes/end.ejs') %>